@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');


.body-class{
    font-family: Roboto;
}



.build {
    margin: 0 auto;
    text-align: center; 
}

header {
    background-color: rgb(32,101,136);
    padding-top: 12px;
    padding-left: 12px;
    width: auto;
    height: 800px; 
}

.npm-logo{
    height: 30px; 
    float:left;
    padding-right: 10px; 
}

.bear-pic {
    height: 30px; 
    float:left;
    padding-right: 10px;
    padding-left: 2px;
    padding-top: 3px;  
}

img .scape {
    display: block;
    margin: 0 auto; 
    float: right;
}


nav {
    background-color: #C12127;
    color: rgba(255,255,255,0.8); 
    padding-top: 10px;
    padding-bottom: 12px; 
    height: 12px;
    font-size: 12px;    
}

nav a{
    color: rgba(255,255,255,0.8);
    text-decoration: none; 
}

.nav-bar {
    padding-left: 12px;
}

.profile-links{    
    float: right;
    margin-top: 3px;
    display: flex;
    margin-right: 10px;
    font-size: 13px;
    

}

.profile-links li{
    color: white; 
    list-style: none;
}

.profile-links a:link{
    text-decoration: none;
    color:white; 
}

.searchterm {
    width: 77%;
    padding: 6px; 
    line-height: 19px;
    border: 1px solid #436E8F;
    background-color: #1F5370;
    color: #6A7A89;
    border-right: none;
    font-size: 13px;
    text-align: left; 
    
}

.search-button{
    width: 35px;
    height: 33px;
    padding-top: 1px;
    padding-left: 5px;
    text-align: center; 
    border: 1px solid #436E8F;
    background-color:  #1F5370;
    color: white; 
    cursor: pointer;
    position: absolute; 
}
.sign-up{
    margin-top: 6px; 
}

 .top-links{
   display: inline-block; 
   float: right; 
   padding: 0; 
   margin: 0 20px 0 0; 
}

.top-links li{
    display: inline-block; 
    margin: 0 10px;
    text-align: center;
    text-decoration: none;  
}

.top-left{
    display: inline-block;
    margin: 0 20px 0 0; 
}


.city-scape-img{
    position: absolute; 
}


